{% load wagtailcore_tags wagtailimages_tags %}


{% image value.image max-1920x700 as image %}
    <div class="block block__background" style="{% if image.url %} background-image: url({{ image.url }}); background-repeat: no-repeat; background-position: center; background-size: cover; {% else %} background-colour: rgba(255, 255, 255, 0.1); {% endif %}">
        <div class="container">
            <div class="block-call_to_action block mb-5 py-3">
                <h2 class="u-first-heading">{{ value.title }}</h2>
                {{ value.body|richtext }}
                <a href="{{ value.link }}" class="btn btn--primary">{{ value.link_text }}</a>
            </div>
        </div>
    </div>
</div>
