
{% extends "a4dashboard/base_dashboard.html" %}
{% load i18n %}

{% block dashboard_content %}
<div class="row">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <div class="d-flex flex-row justify-content-between mt-3">
            <h1>{% trans 'Events' %}</h1>
            <div>
              <a href="{% url 'a4dashboard:project-create' organisation_slug=view.organisation.slug blueprint_slug='speakup' %}" class="btn btn-primary">
                  {% trans 'New Event' %}
              </a>
          </div>
        </div>

    {% if project_list|length > 0 %}
    <ul class="list-group">
        {% for project in project_list %}
            {% include "a4dashboard/includes/project_list_item.html" with project=project %}
        {% endfor %}
    </ul>
    {% else %}
    <p>{% trans 'We could not find any projects.' %}</p>
    {% endif %}
        </div>
    </div>
</div>
{% endblock %}
