{% extends "base.html" %}
{% load i18n static rules wagtailcore_tags ckeditor_tags thumbnail react_questions a4dashboard_tags %}

{% block extra_messages %}
    {{ block.super }}

    {% if view.project.is_draft %}
        <div class="alert alert-warning alert-top" role="alert">
            <div class="text-center alert-text">
                {% trans 'This project is in not published yet.' %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}
<div class="py-3 mb-5">
    <div class="container">
        <div class="text-center">
            <h3 class="text-center">{{ view.project.name }}</h3>
            {% if project.description %}
            <p>{{ view.project.description }}</p>
            {% endif %}
            {% has_perm 'a4projects.change_project' request.user project as can_change_project %}
            {% if can_change_project %}
            <p>
            {% if not project.is_public %}
                <span class="badge badge-secondary">{% trans 'private' %}</span>
            {% endif %}
            {% if project.is_archived %}
                <span class="badge badge-info">{% trans 'archived' %}</span>
            {% elif project.has_finished %}
                <span class="badge badge-dark">{% trans 'finished' %}</span>
            {% elif days %}
                <span class="badge badge-warning">{{ days }}</span>
            {% endif %}
            </p>
            <div class="row">
                <div class="col text-center">
                    <a href="{% url 'a4dashboard:project-edit' project_slug=project.slug %}" class="btn btn--light btn-round" data-embed-target="external"> <i class="fa fa-edit" aria-hidden="true"></i>{% trans 'Edit' %}</a>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="tab-content mb-4">
  {% block phase_content %}{% endblock %}
</div>

{% endblock %}
