
{% extends "base.html" %}
{% load i18n account %}
{% load widget_tweaks %}

{% block head_title %}{% trans "Login" %}{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6 offset-md-3">
            <h1>{% trans "Login" %}</h1>

            <p>{% blocktrans with terms_of_use=settings.cms_settings.HelpPages.terms_of_use_page.url privacy_policy=settings.cms_settings.HelpPages.privacy_policy.url %}If you do not have an account, please <a href="{{ signup_url }}">register</a> first. Registration is only necessary for the moderation of SpeakUp. As a participant, you can participate in the discussion without registration. If you have any questions about privacy or use of SpeakUp, check out our <a href="{{ privacy_policy }}">privacy policy</a> and our <a href="{{ terms_of_use }}">Terms of Use</a>.{% endblocktrans %}</p>

            <form  method="POST" action="{% url 'account_login' %}">
                <div class="form-group">
                  {% csrf_token %}
                  {% for hidden_field in form.hidden_fields %}
                  {{ hidden_field }}
                  {% endfor %}
                </div>

                {% include 'a4-speakup_contrib/form_fields.html' with fields=form.visible_fields %}

                {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                {% endif %}

                <button type="submit" class="btn btn-primary">{% trans "Login" %}</button>
                <a class="btn btn--link" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
            </form>
        </div>
    </div>
</div>
{% endblock %}
