
{% extends "base.html" %}
{% load i18n %}
{% load widget_tweaks %}


{% block head_title %}{% trans "Register" %}{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">
                <h1>{% trans "Register" %}</h1>

                <p>{% blocktrans %}Already have an account? Then please
                    <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

                <form id="signup_form" method="post" action="{% url 'account_signup' %}">
                    {% csrf_token %}

                    {% include 'a4-speakup_contrib/form_field.html' with field=form.email %}
                    {% include 'a4-speakup_contrib/form_field.html' with field=form.username %}
                    {% include 'a4-speakup_contrib/form_field.html' with field=form.password1 %}
                    {% include 'a4-speakup_contrib/form_field.html' with field=form.password2 %}

                    <div class="form-check">
                        <label class="form-check__label">
                            {{ form.terms_of_use }}
                            {{ form.terms_of_use.label | safe }}
                        </label>
                        {{ form.terms_of_use.errors }}
                    </div>

                    {% if redirect_field_value %}
                        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}

                    <div class="u-spacer-bottom">
                        <button class="btn btn--primary" type="submit">{% trans "Register" %}</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
