{% extends "base.html" %}
{% load i18n %}

{% block title %}
<div class="page-header mb-5 mt-lg-5">
    <h1 class="u-serif-header">
    {% trans 'Error' %} &mdash; {{ block.super }}
    </h1>
</div>
{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <h2 class="u-serif-header">{% block error_status %}{% endblock %}</h2>
        {% block error_description %}{% endblock %}
        <a href="/">{% trans 'Back to landing page' %}</a>
    </div>
</div>
{% endblock %}
