
{% load userindicator snippet_tags static %}
{% load_site_menu "header" as header_menu_items %}

<nav class="header navbar navbar-expand-sm px-0 pb-5">
    <div class="container">
        <img class="header__prototype" src="{% static 'images/badge-prototype1.png' %}" alt="prototype"/>
        <a class="navbar-brand mx-auto header__logo" href="/" rel="home"><img src=" {% static 'images/logo.png' %}" width="100px" alt="SpeakUp"/></a>
        <div class="header__nav">
            <ul class="navbar-nav>
                {% for menuitem in header_menu_items %}
                <li class="nav-item {% if request.path == menuitem.url %} active{% endif %}">
                    <a class="nav-link" href="{{ menuitem.url }}"> {{ menuitem.title }} </a>
                </li>
                {% endfor %}
            </ul>
            {% userindicator %}
        </div>
    </div>
    <div class="header__curve d-lg-none"></div>
</nav>
