{% load userindicator snippet_tags static %}
{% load_site_menu "header" as header_menu_items %}

<nav class="homepage navbar justify-content-end">
    <ul class="navbar-nav mr-auto">
    {% for menuitem in header_menu_items %}
    <li class="nav-item {% if request.path == menuitem.url %} active{% endif %}">
        <a class="nav-link" href="{{ menuitem.url }}"> {{ menuitem.title }} </a>
    </li>
    {% endfor %}
    </ul>
     {% userindicator %}
</nav>
<div class="text-center">
    <a href="/" rel="home"><img class="homepage__logo" src="{% static 'images/logo_speakup.png' %}" alt="SpeakUp"/></a>
</div>
<img class="header__prototype" src="{% static 'images/badge-prototype1.png' %}" alt="prototype"/>
