@font-face {
  font-family: 'speakup-icons';
  src:  url('../fonts/speakup-icons.eot?3dg1gx');
  src:  url('../fonts/speakup-icons.eot?3dg1gx#iefix') format('embedded-opentype'),
    url('../fonts/speakup-icons.ttf?3dg1gx') format('truetype'),
    url('../fonts/speakup-icons.woff?3dg1gx') format('woff'),
    url('../fonts/speakup-icons.svg?3dg1gx#speakup-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'speakup-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-answered:before {
  content: "\e900";
}
.icon-arrow-down:before {
  content: "\e901";
}
.icon-arrow-right:before {
  content: "\e902";
}
.icon-push-in-list:before {
  content: "\e903";
}
.icon-public-view:before {
  content: "\e904";
}
.icon-in-list:before {
  content: "\e905";
}
.icon-clear:before {
  content: "\e906";
}
.icon-sort-list:before {
  content: "\e907";
}
.icon-talking-desired:before {
  content: "\e908";
}
.icon-vote:before {
  content: "\e909";
}
.icon-list:before {
  content: "\e90a";
}
