@font-face {
  font-family: 'speakup-icons';
  src:  url('../fonts/speakup-icons.eot?3dg1gx');
  src:  url('../fonts/speakup-icons.eot?3dg1gx#iefix') format('embedded-opentype'),
    url('../fonts/speakup-icons.ttf?3dg1gx') format('truetype'),
    url('../fonts/speakup-icons.woff?3dg1gx') format('woff'),
    url('../fonts/speakup-icons.svg?3dg1gx#speakup-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'speakup-icons' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-answered:before {
  content: "\e900";
}
.icon-arrow-down-copy:before {
  content: "\e901";
}
.icon-arrow-down:before {
  content: "\e902";
}
.icon-sort-list:before {
  content: "\e903";
}
.icon-push-in-list:before {
  content: "\e904";
}
.icon-public-view:before {
  content: "\e905";
}
.icon-list:before {
  content: "\e906";
}
.icon-clear:before {
  content: "\e94b";
}
.icon-talking-desired:before {
  content: "\e94c";
}
.icon-vote:before {
  content: "\e94d";
}

.icon-in-list .path1:before {
  content: "\e907";
  color: rgb(255, 149, 0);
}
.icon-in-list .path2:before {
  content: "\e908";
  margin-left: -1.0087890625em;
  color: rgb(0, 122, 255);
}
.icon-in-list .path3:before {
  content: "\e909";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path4:before {
  content: "\e90a";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path5:before {
  content: "\e90b";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path6:before {
  content: "\e90c";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path7:before {
  content: "\e90d";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path8:before {
  content: "\e90e";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path9:before {
  content: "\e90f";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path10:before {
  content: "\e910";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path11:before {
  content: "\e911";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path12:before {
  content: "\e912";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path13:before {
  content: "\e913";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path14:before {
  content: "\e914";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path15:before {
  content: "\e915";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path16:before {
  content: "\e916";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path17:before {
  content: "\e917";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path18:before {
  content: "\e918";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path19:before {
  content: "\e919";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path20:before {
  content: "\e91a";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path21:before {
  content: "\e91b";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path22:before {
  content: "\e91c";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path23:before {
  content: "\e91d";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path24:before {
  content: "\e91e";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path25:before {
  content: "\e91f";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path26:before {
  content: "\e920";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path27:before {
  content: "\e921";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path28:before {
  content: "\e922";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path29:before {
  content: "\e923";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path30:before {
  content: "\e924";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path31:before {
  content: "\e925";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path32:before {
  content: "\e926";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path33:before {
  content: "\e927";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path34:before {
  content: "\e928";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path35:before {
  content: "\e929";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path36:before {
  content: "\e92a";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path37:before {
  content: "\e92b";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path38:before {
  content: "\e92c";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path39:before {
  content: "\e92d";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path40:before {
  content: "\e92e";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path41:before {
  content: "\e92f";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path42:before {
  content: "\e930";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path43:before {
  content: "\e931";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path44:before {
  content: "\e932";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path45:before {
  content: "\e933";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path46:before {
  content: "\e934";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path47:before {
  content: "\e935";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path48:before {
  content: "\e936";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path49:before {
  content: "\e937";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path50:before {
  content: "\e938";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path51:before {
  content: "\e939";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path52:before {
  content: "\e93a";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path53:before {
  content: "\e93b";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path54:before {
  content: "\e93c";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path55:before {
  content: "\e93d";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path56:before {
  content: "\e93e";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path57:before {
  content: "\e93f";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path58:before {
  content: "\e940";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path59:before {
  content: "\e941";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path60:before {
  content: "\e942";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path61:before {
  content: "\e943";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path62:before {
  content: "\e944";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path63:before {
  content: "\e945";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path64:before {
  content: "\e946";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path65:before {
  content: "\e947";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path66:before {
  content: "\e948";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path67:before {
  content: "\e949";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
.icon-in-list .path68:before {
  content: "\e94a";
  margin-left: -1.0087890625em;
  color: rgb(255, 149, 0);
}
