{% extends "a4dashboard/base_dashboard_project.html" %}
{% load i18n %}

{% block dashboard_project_content %}
    <h1 class="u-first-heading">{% trans 'Export Excel' %}</h1>
<table class="table">
  <tbody>
    {% if question_export %}
    <tr scope="row">
        <td class="pl-0 align-middle" id="id-export-question-hint">
            {% trans "here you can export all questions" %}
        </td>
        <td>
            <a class="btn btn--secondary" aria-labelledby="id-export-question-hint" href="{{ question_export }}">
                {% trans "Export" %}
            </a>
        </td>
    </tr>
    {% endif %}
    <tr scope="row">
      <td>
      </td>
      <td>
      </td>
    </tr>
</table>
</tbody>
{% endblock %}
