.footer--purple {
    width: 100%;
    height: 100px;
    position: relative;
    background-color: $purple;
    font-family: $font-family-homepage-mono;
    color: $white;

    a {
        color: $white;
    }
}

.footer__curve {
    height: 40px !important;
    top: 0;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
}

.footer__links {
    position: absolute;
    bottom: 0.5*$spacer;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
