.header {
    height: 150px;
    position: relative;
    background-color: $purple;

    .btn {
        color: $white;
    }
}

.header__curve,
.footer__curve {
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: $white;
}

.header__curve {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.header__nav {
    position: absolute;
    top: 0.75*$spacer;
    right: 0.5*$spacer;
}

.header__logo {
    margin-top: -(2*$spacer);
}

.header__prototype,
.header-light__prototype {
    width: 20%;
    max-width: 100px;
    position: absolute;
    left: $spacer;
    top: $spacer;
    z-index: 1;
}

//desktop

@media screen and (min-width: $breakpoint-lg) {
    .header {
        height: 100px;
    }
    .header__logo {
        position: relative;
        left: -50px;
        margin-top: 2*$spacer;
    }
    .header__nav {
        top: 1.5*$spacer;
        right: 1.5*$spacer;
    }
    .header__prototype {
        position: relative;
        top: 3*$spacer;
    }
}
