.header {
    height: 100px;
    position: relative;
    background-color: $purple;
}

.header__curve,
.footer__curve {
    position: absolute;
    height: 50px;
    width: 100%;
    background-color: $white;
}

.header__curve {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.header__button {
    position: absolute;
    right: 0;
}
