.header {
    height: 150px;
    position: relative;
    background-color: $purple;
}

.header__curve,
.footer__curve {
    position: absolute;
    height: 75px;
    width: 100%;
    background-color: $white;
}

.header__curve {
    bottom: 0;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.header__burger {
    color: $white;
    position: absolute;
    top: 0.75*$spacer;
    right: 0;
}

.header__button {
    color: $white;
    position: absolute;
    right: 6px;
    top: 2.5*$spacer;

    @include media-breakpoint-up(sm) {
        top: $spacer;
    }

    .dropdown-toggle {
        color: $white;
    }
}

.header__logo {
    margin-top: -(2*$spacer);
}

.header__prototype {
    width: 25%;
    max-width: 100px;
    position: absolute;
    left: $spacer;
    top: $spacer;
}
