.homepage {
    font-family: $font-family-homepage;

    h4 {
        font-family: $font-family-homepage-mono;
    }

    .block-col-4,
    .block-col-6 {
        .richtext-image.full-width {
            @extend .mx-auto;
            @extend .d-block;
        }
    }
}

.homepage__logo {
    width: 20%;
    min-width: 12rem;
}
