{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags rules i18n static %}

{% block header %}
    {% include 'header-light.html' %}
{% endblock %}

{% block title %}
<div class="block__header_img homepage" {% if page.header_image %} style=" background-image: url({{ page.header_image.url }});  background-repeat: no-repeat; background-position: center; background-size: cover; " {% endif %}>
    <div class="container block__header_content text-center">
        <h1>{{ page.title }}</h1>
        <h2>{{ page.subtitle }}</h2>
    </div>
</div>
{% endblock %}

{% block content %}
{% for block in self.body %}
    {% if block.block_type == 'background' or block.block_type == 'image_call_to_action'%}
        <div class="mb-5 homepage">
        {{ block }}
        </div>
    {% else %}
    <div class="container mb-5 homepage">
    {{ block }}
    </div>
    {% endif %}
{% endfor %}
{% endblock %}

{% block footer %}
{% endblock %}
