{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags rules i18n static %}


{% block title %}
<div class="block__header_img" {% if page.header_image %} style="background: rgba(255, 255, 255, 0.1); background-image: url({{ page.header_image.url }});  background-repeat: no-repeat; background-position: center; background-size: cover; " {% endif %}>
    <div class="block__header_img_overlay">
    <div class="container block__header_content">
        <h1>{{ page.title }}</h1>
        <h3>{{ page.subtitle }}</h3>
    </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div class="container mb-5">
{{ page.body }}
</div>
{% endblock %}
